<a href="https://colab.research.google.com/github/YohanaRodriguezJ/Bootcamp-clase-David/blob/main/Actividad2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Listas


List1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

obtener lista output por el metodo 'append'

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [10]:
lista=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lista[2][2].append(7000)
print(lista)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]


Sets

se tienen los conjuntos

s1 = {10, 20, 30, 40, 50}

s2 = {30, 40, 50, 60, 70}

1 Obtener el siguiente output con alguno de los metódos vistos para sets

{40, 50, 30}

2 O btener  el siguiente output con alguno de los metódos vistos para sets

{70, 40, 10, 50, 20, 60, 30}

3 Extraer todos los elementos de s2 que no estan en s1

In [14]:
print ('interseccion')
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
print(s1.intersection(s2))

print ('union')

print(s1.union(s2))

print ('diferencia')

s2.symmetric_difference(s1)

interseccion
{40, 50, 30}
union
{70, 40, 10, 50, 20, 60, 30}
diferencia

{10, 20, 60, 70}

Tupla
tupla=(10, 20, 30, 40, 50)

Responder:

1 Ordenar la tupla de mayor a menor

2 Extraer los valores de la tupla en las siguientes variables: a,b,c,d,e

3 Ahora suponga que tiene la siguiente tupla: 
tupla_d = (11, [22, 33], 44, 55)
Recordando el concepto de inmutabilidad de las tuplas, sería posible poder modificar el valor 22 por 222. se puede? Justificar

In [16]:
t =(10,20,30,40,50)
print('Ordenar tupla')
print(t [::-1])
print('obtener valores a,b,c,d,e')
a,b,c,d,e=t
print(a,b,c,d,e)
print('remplacede t el valor 22 por 222')
t_d = (11, [22, 33], 44, 55)
t_d[1][0] = 222
print(t_d)

Ordenar tupla
(50, 40, 30, 20, 10)
obtener valores a,b,c,d,e
10 20 30 40 50
remplacede t el valor 22 por 222
(11, [222, 33], 44, 55)

Diccionarios

1 Supongan que tienen el siguiente diccionario similar a lo que se obtiene de una API ([texto del enlace](https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/)) 

dict_david = {
    "clase": {
        "estudiante": {
            "nombre": "David",
            "notas": {
                "fisica": 4.9,
                "matematicas": 4.8
            }
        }
    }
}

Como se puede obtener el valor respectivo para la llave primaria matematicas

2 Con base en el siguiente diccionario, renombrar la llave primaria ciudad por ubicacion

  dic_prueba = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}


3 Obtener la llave primaria del valor minimo para el siguiente diccionario

dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}


4 Con base en el siguiente diccionario
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}
}

Reemplazar el valor de 7590000 de Juan por 8000000.

In [20]:

print('Valor llave primaria matematicas')
dict_david = {"clase": {"estudiante": {"nombre": "David","notas": {"fisica": 4.9,"matematicas": 4.8}}}}
print(dict_david['clase']['estudiante']['notas']['matematicas'])

print('renombrar llave primaria or ubicacion')
dic_prueba = {"nombre": "Juan","edad":25,"salario": 8000000,"ciudad": "Santiago"}
dic_prueba['ubicacion'] = dic_prueba.pop('ciudad')
print(dic_prueba)

print('valor minimo de el siguiente diccionario')
dicc = {'Bayesiana': 4.5,'Series Tiempo': 4.6,'Calculo Actuarial': 4.2}
print(min(dicc, key=dicc.get))

print('Remplazar de el diccionario 759000 de juan por 8000000')
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}}
dict_a['e3']['salario'] = 8000000
print(dict_a)

Valor llave primaria matematicas
4.8
renombrar llave primaria or ubicacion
{'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ubicacion': 'Santiago'}
valor minimo de el siguiente diccionario
Calculo Actuarial
Remplazar de el diccionario 759000 de juan por 8000000
{'e1': {'nombre': 'David', 'salario': 12000000}, 'e2': {'nombre': 'Juan', 'salario': 7590000}, 'e3': {'nombre': 'Amir', 'salario': 8000000}}